os:
	os type: ubuntu|redhat
	memory: 4GB
	Hard Disk: 20GB
	C.P.U: 2 cores

File System:
	/tmp: 10GB+

python: (python requirements can be installed using the setup script)
	version: 3
	package manager pip3